# Imports

In [2]:
import pandas as pd

# Descrição dos dados

In [3]:
# leitura dos dados
df_raw = pd.read_csv('data/train.csv')
df_raw.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [4]:
# Dimensões
df_raw.shape

(381109, 12)

In [5]:
# dados faltantes
df_raw.isna().sum()

id                      0
Gender                  0
Age                     0
Driving_License         0
Region_Code             0
Previously_Insured      0
Vehicle_Age             0
Vehicle_Damage          0
Annual_Premium          0
Policy_Sales_Channel    0
Vintage                 0
Response                0
dtype: int64

In [6]:
# tipos
df_raw.dtypes

id                        int64
Gender                   object
Age                       int64
Driving_License           int64
Region_Code             float64
Previously_Insured        int64
Vehicle_Age              object
Vehicle_Damage           object
Annual_Premium          float64
Policy_Sales_Channel    float64
Vintage                   int64
Response                  int64
dtype: object

## Separação de numéricos e categóricos

In [14]:
#dados numéricos
df_raw_num = df_raw.select_dtypes(exclude='object')
df_raw_num.head(1)

,id,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,44,1,28.0,0,40454.0,26.0,217,1

In [15]:
# dados categóricos
df_raw_cat = df_raw.select_dtypes(include='object')
df_raw_cat.head(1)

  Gender Vehicle_Age Vehicle_Damage
0   Male   > 2 Years            Yes

## Estatística descritiva

In [17]:
stats = df_raw_num.describe().T
stats

,count,mean,std,min,25%,50%,75%,max
id,381109.0,190555.000000,110016.836208,1.0,95278.0,190555.0,285832.0,381109.0
Age,381109.0,38.822584,15.511611,20.0,25.0,36.0,49.0,85.0
Driving_License,381109.0,0.997869,0.046110,0.0,1.0,1.0,1.0,1.0
Region_Code,381109.0,26.388807,13.229888,0.0,15.0,28.0,35.0,52.0
Previously_Insured,381109.0,0.458210,0.498251,0.0,0.0,0.0,1.0,1.0
Annual_Premium,381109.0,30564.389581,17213.155057,2630.0,24405.0,31669.0,39400.0,540165.0
Policy_Sales_Channel,381109.0,112.034295,54.203995,1.0,29.0,133.0,152.0,163.0
Vintage,381109.0,154.347397,83.671304,10.0,82.0,154.0,227.0,299.0
Response,381109.0,0.122563,0.327936,0.0,0.0,0.0,0.0,1.0

In [18]:
stats['skew'] = df_raw_num.apply(lambda x: x.skew())
stats['kurtosis'] = df_raw_num.apply(lambda x: x.kurtosis())

stats

,count,mean,std,min,25%,50%,75%,max,skew,kurtosis
id,381109.0,190555.000000,110016.836208,1.0,95278.0,190555.0,285832.0,381109.0,9.443274e-16,-1.200000
Age,381109.0,38.822584,15.511611,20.0,25.0,36.0,49.0,85.0,6.725390e-01,-0.565655
Driving_License,381109.0,0.997869,0.046110,0.0,1.0,1.0,1.0,1.0,-2.159518e+01,464.354302
Region_Code,381109.0,26.388807,13.229888,0.0,15.0,28.0,35.0,52.0,-1.152664e-01,-0.867857
Previously_Insured,381109.0,0.458210,0.498251,0.0,0.0,0.0,1.0,1.0,1.677471e-01,-1.971871
Annual_Premium,381109.0,30564.389581,17213.155057,2630.0,24405.0,31669.0,39400.0,540165.0,1.766087e+00,34.004569
Policy_Sales_Channel,381109.0,112.034295,54.203995,1.0,29.0,133.0,152.0,163.0,-9.000081e-01,-0.970810
Vintage,381109.0,154.347397,83.671304,10.0,82.0,154.0,227.0,299.0,3.029517e-03,-1.200688
Response,381109.0,0.122563,0.327936,0.0,0.0,0.0,0.0,1.0,2.301906e+00,3.298788